/*Font styles*/
/*index styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    background-color: white;
    color: black;
}

body {
    margin: 0;
    padding: 0;
}

/*Header/Nav styles*/

.header-bg-container {
    background-color: black;
}

.navbar > a {
    color: white;
}

.navbar-toggler-icon {
    background-color: white;
    border-radius: 5px;
}

.company-logo {
    width: 50px;
    height: 50px;
}

/*Main styles*/
.main-bg-container {
    padding: 450px;
    background: url(/Assets/computer\ banner.png) no-repeat center center/cover;
}

.slogan-content-container {
    position: relative;
    bottom: 230px;
}

.slogan {
    text-shadow: 30px 20px 15px black;
    font-size: 3rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient( circle farthest-corner at 3.2% 49.6%,  rgba(80,12,139,0.87) 0%, rgba(161,10,144,0.72) 83.6% );
    font-family: "Bodoni Moda", serif;
    line-height: 5rem;
}


/*About Styles*/

.about-us-container {
    background: "#f5f5f5";
    padding: 100px;
}


.about-card-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.about-slogan {
    text-shadow: 30px 20px 15px black;
    font-family: "Bodoni Moda", serif;
    font-size: 3rem;
}

.about-card-container {
    width: 40%;
}

.card-title {
    font-family: "Bodoni Moda", serif;
    font-size: 2rem;
}

.card-text {
    font-family: "Bodoni Moda", serif;
    font-size: 1.2rem;
    line-height: 2rem;
}
/*Company container styles*/
.company-bg-container {
    background: url(/Assets/Logo\ banner.png) no-repeat center center/cover;
    padding: 310px;
}

.company-content {
    width: 70%;
}

.company-subtitle {
    text-shadow: 0 0px 55px #f5f5f5;
    font-size: 3rem;
    font-family: "Bodoni Moda", serif;
    font-weight: 600;
}

.company-text {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    text-shadow: 30px 10px 15px black;
    font-family: "Bodoni Moda", serif;
    font-weight: 600;
}



/*Service styling*/
.service-content-container {
    flex-direction: row;
    grid-template-rows: minmax(1fr 1fr) auto;
    grid-template-columns: repeat(minmax(1fr 1fr) auto);
    padding: 300px;
}


.service-img {
    width: 300px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.service-text-container {
    width: 300px;
}

/*Booking styles*/
.book-bg-container {
    padding: 100px;
}

.book-imgs {
    width: 300px;
    border-radius: 5px;
}
/*Media queries*/

@media (min-width: 320px) and (max-width: 420px) {}

@media (min-width: 375px) and (max-width: 475px) {
    .slogan {
        font-size: 2rem;
    }
    .slogan-content-container {
        flex-direction: column;
    }

    /*About Styles*/
    .about-us-content-container {
        flex-direction: column;
    }

    .about-slogan {
        font-size: 2rem;
    }

    .company-bg-container {
        padding: 250px;
    }

    /*Service*/

    .service-content-container {
        flex-direction: column;
    }

    /*Book Styles*/

    .book-img-container {
        flex-direction: column;
    }
}

@media (min-width: 480px) and (max-width: 499px){
    .slogan {
        font-size: 2.5rem;
    }
    .slogan-content-container {
        flex-direction: column;
    }


    .about-us-content-container {
        flex-direction: column;
    
    }

    .company-bg-container {
        padding: 250px;
    }

    /*Service*/
    .service-content-container {
        flex-direction: column;
    }

    /*Book Styles*/

    .book-img-container {
        flex-direction: column;
    }
}

@media (min-width: 500px) and (max-width: 560px){
    .slogan {
        font-size: 2rem;
    }
    .slogan-content-container {
        flex-direction: column;
    }


    .about-us-content-container {
        flex-direction: column;
    
    }

    .company-bg-container {
        padding: 250px;
    }

    /*Service*/

    .service-content-container {
        flex-direction: column;
    }

    /*Book Styles*/

    .book-img-container {
        flex-direction: column;
    }
}

@media (min-width: 565px) and (max-width: 675px) {
    .slogan {
        font-size: 2rem;
    }
    .slogan-content-container {
        flex-direction: column;
    }


    .about-us-content-container {
        flex-direction: column;
    }

    .company-bg-container {
        padding: 250px;
    }

    /*Service*/

    .service-content-container {
        flex-direction: column;
    }

    /*Book Styles*/

    .book-img-container {
        flex-direction: column;
    }
}

@media (min-width: 670px) and (max-width: 775px) {
    .slogan {
        font-size: 2.6rem;
    }
    .slogan-content-container {
        flex-direction: column;
    }


    .about-us-content-container {
        flex-direction: column;
    }

    .company-bg-container {
        padding: 350px;
    }

    /*Service*/

    .service-content-container {
        flex-direction: column;
    }

    /*Book Styles*/

    .book-img-container {
        flex-direction: column;
    }

}

