/*Font styles*/
/*index styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    background-color: white;
    color: black;
}

body {
    margin: 0;
    padding: 0;
}

/*Header/Nav styles*/

.header-bg-container {
    background-color: black;
}

.navbar > a {
    color: white;
}

.navbar-toggler-icon {
    background-color: white;
    border-radius: 5px;
}

.company-logo {
    width: 50px;
    height: 50px;
}

/*Main styles*/
.main-bg-container {
    padding: 400px;
    background: url(/Assets/PBB\ Frame.png) no-repeat center center/cover;
}

.main-banner {
    box-shadow: 0 0 25px 1px black;
}

.main-link {
    text-decoration: none;
    color: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient( 109.6deg,  rgba(143,57,213,1) 11.2%, rgba(96,227,109,1) 91.1% );
}

.slogan-content-container {
    position: relative;
    bottom: 230px;
}

.slogan {
    text-shadow: 0 0 13px black;
    font-size: 3rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient( 109.6deg,  rgba(143,57,213,1) 11.2%, rgba(96,227,109,1) 91.1% );
}


/*About Styles*/

.about-us-container {
    background: "#f5f5f5";
    padding: 100px;
}

.about-card-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*Company container styles*/
.company-bg-container {
    background: url(/Assets/Logo\ banner.png) no-repeat center center/cover;
    padding: 310px;
}



/*Service styling*/
.service-content-container {
    flex-direction: row;
    grid-template-rows: minmax(1fr 1fr) auto;
    grid-template-columns: repeat(minmax(1fr 1fr) auto);
}


.service-img {
    width: 300px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.service-text-container {
    width: 300px;
}

/*Media queries*/

@media (min-width: 320px) and (max-width: 420px) {}

@media (min-width: 375px) and (max-width: 475px) {
    .slogan {
        font-size: 1.5rem;
    }
    .slogan-content-container {
        flex-direction: column;
    }

    .main-banner {
        margin-top: 20px;
    }
    .main-link {
        font-size: 1rem;
    }

    .about-us-content-container {
        flex-direction: column;
    
    }

    .company-bg-container {
        padding: 20px;
    }

    /*Service*/

    .service-content-container {
        flex-direction: column;
    }
}

@media (min-width: 500px) and (max-width: 560px){
    .slogan {
        font-size: 1.5rem;
    }
    .slogan-content-container {
        flex-direction: column;
    }

    .main-banner {
        margin-top: 20px;
    }
    .main-link {
        font-size: 1rem;
    }

    .about-us-content-container {
        flex-direction: column;
    
    }

    .company-bg-container {
        padding: 250px;
    }

    /*Service*/

    .service-content-container {
        flex-direction: column;
    }
}

@media (min-width: 575px) and (max-width: 675px) {
    .slogan {
        font-size: 2rem;
    }
    .slogan-content-container {
        flex-direction: column;
    }

    .main-banner {
        margin-top: 20px;
    }
    .main-link {
        font-size: 1rem;
    }

    .about-us-content-container {
        flex-direction: column;
    }

    .company-bg-container {
        padding: 250px;
    }

    /*Service*/

    .service-content-container {
        flex-direction: column;
    }
}

@media (min-width: 690px) and (max-width: 775px) {
    .slogan {
        font-size: 2.3rem;
    }
    .slogan-content-container {
        flex-direction: column;
    }

    .main-banner {
        margin-top: 20px;
    }
    .main-link {
        font-size: 1rem;
    }

    .about-us-content-container {
        flex-direction: column;
    }

    .company-bg-container {
        padding: 250px;
    }

    /*Service*/

    .service-content-container {
        flex-direction: column;
    }

}

